@model PatientModel

@{
    ViewData["Title"] = "Patient View";
    var textAreaColumns = 64;
    var textAreaRows = 1;
}

<div class="text-center">
    <h1 class="display-4">Patient View for @Model.Demographics.Name.Text</h1>
    <div>
        <h3>Demographics</h3>
        <table class="table-striped">
            <!--Header will likely be hidden in the end. Included for clarity.-->
            <thead>
                <tr>
                    <th>Data Label</th>
                    <th>Data Value</th>
                    <th>Confidence Score</th>
                    <th>Approved</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Name</td>
                    <td>@Html.TextAreaFor(model => model.Demographics.Name.Text, textAreaRows, textAreaColumns, null)</td>
                    <td>@Model.Demographics.Name?.Score</td>
                    <td>@Html.CheckBoxFor(model => model.Demographics.Name.IsApproved)</td>
                </tr>
                @if (Model.Demographics.Age?.Text != null)
                {
                    <tr>
                        <td>Age</td>
                        <td>@Html.TextAreaFor(model => model.Demographics.Age.Text, textAreaRows, textAreaColumns, null)</td>
                        <td>@Model.Demographics.Age.Score</td>
                        <td>@Html.CheckBoxFor(model => model.Demographics.Age.IsApproved)</td>
                    </tr>
                }
                @if (Model.Demographics.Occupation?.Text != null)
                {
                    <tr>
                        <td>Occupation</td>
                        <td>@Html.TextAreaFor(model => model.Demographics.Occupation.Text, textAreaRows, textAreaColumns, null)</td>
                        <td>@Model.Demographics.Occupation.Score</td>
                        <td>@Html.CheckBoxFor(model => model.Demographics.Occupation.IsApproved)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
